@model SignalRChatApp.Models.User;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
}
<div class="container">
    <div class="mt-4">
        <div class="card rounded-0 overflow-hidden shadow-none border mb-5 mb-lg-0">
            <div class="row g-0">
                <div class="col-12 order-1 col-xl-8 d-flex align-items-center justify-content-center border-end">
                    <img src="~/assets/images/error/auth-img-7.png" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-xl-4 order-xl-2 ">
                    <div class="card-body p-4 p-sm-5 mt-5">
                        <form class="form-body" asp-action="Login" asp-controller="User" method="post">
                            <div class="row g-3 ">
                                <div class="col-12">
                                    <label for="UserId" class="form-label">User Id</label>
                                    <div class="ms-auto position-relative">
                                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="fadeIn animated bx bx-user-circle"></i></div>
                                        <input asp-for="Email" class="form-control radius-30 ps-5" id="Email" placeholder="example@gmail.com" required>
                                    </div>
                                </div>
                                                           
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary radius-30">Sign In</button>
                                    </div>
                                </div>                                                             
                                <div class="col-12 text-center">
                                    <p class="mb-0">Don't have an account yet? <a asp-action="Registration" asp-controller="User">Sign up here</a></p>
                                </div>
                                <div class="col-12">
                                    <div class="login-separater text-center">
                                        <span>OR SIGN IN WITH EMAIL</span>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center gap-3 justify-content-center">
                                        <button type="button" class="btn btn-white text-danger"><i class="bi bi-google me-0"></i></button>
                                        <button type="button" class="btn btn-white text-primary"><i class="bi bi-linkedin me-0"></i></button>
                                        <button type="button" class="btn btn-white text-info"><i class="bi bi-facebook me-0"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>